<h1>New Comment on <%= @post.title %></h1>

<form action="/posts/<%= @post.id %>/comment_create" method="post">
  <p>Post content: <input type="text" name="content"></p>
  <input type="submit">
</form>