<h1>Success!</h1>
<p>Made a new comment: <%= @comment.content %>.</p>
<h6> - <%= @comment.date %></h6>
<p><a href="/comments/@comment.id/edit"></a>edit comment</p>
<a href="/">Return to main list.</a>