<h1>New Comment</h1>

<form action="/comments/create" method="post">
  <p>Post content: <input type="text" name="content"></p>
  <p>Post id: <input type="text" name="post_id"></p>
  <input type="submit">
</form>