<h1>New Comment on "<%= @post.title %>"</h1>

<p><%= @post.id %> - "<%= @post.content %>"</p>

<form action="/posts/<%= @post.id %>/comment_create" method="post">
  <p>Share your comments: <input type="text" name="content"></p>
  <input type="submit">
</form>