<p>
<a href="/posts/new">Add new user</a>
</p>
<% @posts.each do |p| %>
  <p>
      <p><a href="/posts/<%= p.id %>"><%= p.id %></a> - <%= Author.find(p.author_id) %></p>
      <p>"<%= p.content %>"</p>
  </p>
<% end %>