<h1>Create new author</h1>

<form action="/authors/authors_create" method="post">
  <p>Author name: <input type="text" name="name"></p>
  <p>Author email: <input type="text" name="email"></p>
  <input type="submit">
</form>