<h1>Edit Author</h1>

<form action="/authors/<%= @author.id %>/edit" method="post">
  <p>Author name: <input type="text" name="name"></p>
  <p>Author email: <input type="text" name="email"></p>
  <input type="submit">
</form>