<h1>Success!</h1>
<p>Welcome <%= @author.name %>!</p>
<p>Your ID is <%= @author.id %></p>
<p>You will need this to login</p>
<p><a href="/authors/login">Login</a></p>
<p><a href="/">Return to main list.</a></p>