<h1>Comment detail page</h1>

<p>Author ID:<%= @author.id %></p>
<p>Author name: "<%= @author.name %>"</p>
<p>Author email: <%= @author.email %></p>
<p><a href="/authors/<%= @author.id %>/author_posts">Posts by this author</a></p>
<p><a href="/">main list</a></p>